---
layout: layouts/base.njk
---
<div class="menu-wrapper fluid-container">
  <!-- Logo -->
  <div class="d-flex center" data-color="color-set-01">
    <div class="container">
      {% include "includes/logo.njk" %}
    </div>
  </div>
  <!-- Introduction -->
  <div class="d-flex center" data-color="color-set-04">
    <div class="container">
      <h2>{{menuText|safe}}</h2>
    </div>
  </div>
  <!-- Menus -->
  <div class="menus-wrapper">
    {% for item in collections.menu %}
    <div class="" data-color="color-set-03">
        <!-- Button trigger -->
        <div class="menu-trigger" data-color="color-set-02">
          <div class="container">
              <h4 class="menu-title">{{item.data.title}} <span>+</span></h4>
          </div>
        </div>

        <!-- Menu inner -->
        <div class="container menu-inner">
          {% for subitems in item.data.items %}
            <div class="menu-item">
              <span class="menu-item-title">{{subitems.title|safe}} ⟶ {{subitems.price}}</span>
              <span class="menu-item-text d-block">{{subitems.text|safe}}</span>
            </div>
          {% endfor %}
        </div>
    </div>
    {% endfor %}
  </div>
  <!-- Social -->
  <div class="d-flex center" data-color="color-set-05">
    <div class="container">
      <a target="_blank" href="{{settings.instagramLink}}">Instagram</a> /
      <a target="_blank" href="{{settings.facebookLink}}">Facebook</a>
    </div>
  </div>

</div>
