---
layout: layouts/base.njk
---
<div class="fluid-container">
  <!-- Logo -->
  <div class="d-flex center" data-color="color-set-01">
    <div class="container">
      {% include "includes/logo.njk" %}
    </div>
  </div>

</div>
