---
layout: layouts/base.njk
---
<div class="fluid-container">
  <!-- Header -->
  <div class="header-section container-fluid container-small" data-color="color-set-01">
    {% include "includes/header.njk" %}
  </div>
  <!-- Tiendas -->
  <div class="shops-section hide-sm text-01" data-color="color-set-06">
    <div class="container-fluid container-small">
      {% include "includes/shops.njk" %}
    </div>
  </div>
  <!-- Bloques -->
  <div class="blocks-section halfheight">
      {% include "includes/blocks.njk" %}
  </div>
  <!-- Footer -->
  <div class="footer-section container-fluid container-small" data-color="color-set-09">
      {% include "includes/footer.njk" %}
  </div>
</div>
