<div class="blocks-wrapper d-flex">
  <!-- Blocks loop -->
  {% for item in blocks %}
    <div class="block block-item {{item.dataType|safe}}" data-color="{{item.dataColor|safe}}">
      <!-- Block image -->
      <div class="block-half block-image">
        {% if item.image %}
          <img class="block-title img-fit" src="{{item.image|safe}}" alt="">
        {% endif %}
      </div>
      <!-- Block text -->
      <div class="block-half block-text {{item.classText|safe}}">
        {% if item.title %}
          <span class="block-title">{{item.title|safe}}</span>
        {% endif %}
        {% if item.text %}
          <span class="block-text">{{item.text|markdown|safe}}</span>
        {% endif %}
        {% if item.tel %}
          <a class="block-tel" href="tel:{{item.tel|safe|nospaces}}" target="_blank">Tel. {{item.tel|safe}}</a>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
