<div class="player-controls">
  <button type="button" class="button-play">
    <svg class=""width="25px" height="31px" viewBox="0 0 25 31" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <polygon stroke="#000000" fill="transparent" transform="translate(12.690775, 15.500000) rotate(-270.000000) translate(-12.690775, -15.500000) " points="12.6907746 3.80922545 27.1907746 27.1907746 -1.80922545 27.1907746"></polygon>
    </svg>
  </button>
  <button type="button" class="button-fullscreen">
    <p>fullscreen</p>
  </button>
</div>
