  <div class="d-flex text-02">
    <div class="col valign-center text-left">
        <a href="mailto:{{settings.mail}}" target="_blank">{{settings.mail}}</a>
    </div>
    <div class="col logo-footer text-center">
      {% include "includes/logo-footer.njk" %}
    </div>
    <div class="col halign-end">
      <a target="_blank" href="{{settings.instagramLink}}">Instagram</a> /
      <a target="_blank" href="{{settings.facebookLink}}">Facebook</a>
    </div>
  </div>
