<footer class="footer" style="background-image: url(/images/footer.jpg)">
   <div class="footer__content">
      <h2>Love Hvar</h2>
      <p>A place of distinguished luxury,<br>brand new boutique apartments with<br>contemporary feel and refined simplicity.
      </p>
      <a href="#" class="button">About Love Hvar</a>
   </div>
   <div class="footer__lower-bar">
      <div class="up">
         <ul>
            <li><a href="#">Disclaimer</a></li>
            <li><a href="#">Privacy policy</a></li>
            <li><a href="#">Cookies policy</a></li>
            <li><a href="#">General booking terms</a></li>
         </ul>
         <a class="footer__mail" href="mailto:{{ settings.mail }}">{{ settings.mail }}</a>
      </div>
      <div class="down">
         <p>{{ settings.copyright }}</p>
      </div>
   </div>
</footer>