<div class="d-flex">
  <div class="header-logo col">
      {% include "includes/logo.njk" %}
  </div>
  <div class="header-contact col">
    <a href="mailto:{{settings.mail}}" class="text-02" target="_blank">{{settings.mail}}</a>
  </div>
</div>
