<div class="d-flex text-02">
  <div class="col valign-center text-left">
      {% include "includes/logo.njk" %}
  </div>

  <div class="col halign-end">
    <a href="mailto:{{settings.mail}}" target="_blank">{{settings.mail}}</a>
  </div>
</div>
