<nav class="navbar navbar-expand-sm fixed-top navbar-light"><a class="navbar-brand nav-link" href="#artists">{{ settings.siteDescription }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  {% include "includes/close.njk" %}
  <div class="collapse navbar-collapse">
    <a class="nav-link" href="#statement">Statement</a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><a class="nav-link" href="#mag">Mag</a></li>
      <li class="nav-item"><a class="nav-link" target="_blank" href="{{instagramLink}}">Ig</a></li>
      <li class="nav-item"><a class="nav-link" href="#newsletter">Nl</a></li>
    </ul>
  </div>

</nav>
