<ul class="shops-wrapper d-flex" data-type="type-set-02">
  {% for item in shops %}
    <li class="shop-item">
      <span class="shop-title">{{item.title|safe}}</span>
      {% if item.tel %}
        <a class="shop-tel" href="tel:{{item.tel|safe|nospaces}}" target="_blank">Tel. {{item.tel|safe}}</a>
      {% endif %}
    </li>
  {% endfor %}
</ul>
