<div class="container-fluid lead">
  {{ statementText | markdown | safe }}
  {# <p class="lead">whyafterwhy is a world tour driven through curiosity. Starting from Barcelona, we hope it will bring us to very random places and let us discover very interesting gazes.
  </p>
  <p class="lead">whyafterwhy is a limitless project. We know how to start but not when nor how nor with whom we’ll finish. Happy accidents are always welcome.</p>
  <p class="lead">Eagerness to learn and love for art are the unique drivers of this -maybe- crazy thing. Our goal is to keep it always experimental, always honest, and always pure. If during the journey we inspire and we empower creative connections we’ll be
    deeply satisfied for that.</p>
  <p class="lead">The central axis of the project is an always under-construction website: www.whyafterwhy.com. However, the conversation continues on @whyafterwhy Instagram account and, hopefully, in a future, through other unexpected platforms.</p>
  <p class="lead">We believe in the power of rethinking everything. We trust in unfinished conversations, overthinked questions, impulsive answers. Random connections. We love each single dot that makes whyafterwhy possible.
  </p>
  <p class="lead">Eternal gratefulness is what we genuinely feel when we know you have also join this creative chain.</p>
  <p class="lead"><3</p> #}
</div>
