---
layout: layouts/base.njk
---

<div class="content">
   <section class="half">
      <div class="half__text half__text--centered">
         <p class="title title--top">Love Hvar Apartments</p>
         <ul class="values">
            <li data-id="im-1" data-img="/images/placeholder1.jpg">Nature</li>
            <li data-id="im-2" data-img="/images/placeholder2.jpg">Joy</li>
            <li data-id="im-3" data-img="/images/placeholder3.jpg">Freedom</li>
            <li data-id="im-4" data-img="/images/placeholder4.jpg">Ease</li>
            <li data-id="im-5" data-img="/images/placeholder1.jpg">Memories</li>
            <li data-id="im-6" data-img="/images/placeholder2.jpg">Hope</li>
         </ul>
      </div>
      <div class="half__image">
         <img src="/images/placeholder3.jpg" alt="">
      </div>
   </section>
   
   <section class="half">
      <div class="half__image">
         <img src="/images/placeholder2.jpg" alt="">
      </div>
   
      <div class="half__text half__text--centered">
         <p class="title title--top">Love Hvar Apartments</p>
         <ul class="values">
            <li data-img="/images/placeholder1.jpg">
               <a href="#">Apartment 1</a>
            </li>
            <li data-img="/images/placeholder3.jpg">
               <a href="#">Apartment 2</a>
            </li>
            <li data-img="/images/placeholder4.jpg">
               <a href="#">Apartment 3</a>
            </li>
            <li data-img="/images/placeholder1.jpg">
               <a href="#">Apartment 4</a>
            </li>
         </ul>
      </div>
   </section>
   
   <section class="half">
      <div class="half__text half__text--top-bottom">
         <h2>Location<br>& contact</h2>
         <div class="text-bottom">
            <p>Situated in the centre of Hvar, 20 meters from the beach with imposing views overlooking Franciscan
               monastery.</p>
            <a href="#">Location and contact</a>
         </div>
      </div>
   
      <div class="half__image">
         <img src="/images/placeholder1.jpg" alt="">
      </div>
   </section>
</div>